<app-navbar>Navigating...</app-navbar>
<!--
<div class="bgGrids">
        <div [class]=cubeStyle></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cubeX"></div><div class="cube"></div><div class="cubeX"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cubeY"></div><div class="cube"></div><div class="cubeY"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cubeY"></div><div class="cube"></div><div class="cube"></div><div class="cubeY"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cubeX"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cubeX"></div><div class="cube"></div><div class="cube"></div><div class="cubeX"></div>
      </div>
    -->  
<div class="container">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
</div>
