
<div class="custom">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="font-size:30px">Techfix Solutions</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><!--
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> -->
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a [ngStyle]="marginLeft" href="#home" class="scroll">Home</a></li>
          <li><a href="#showcase1" class="scroll">Services</a></li>
          <li><a href="#host1" class="scroll">About</a></li>
          <li><a href="#contact" class="scroll">Contact</a></li><!--
          <li class="pull-right" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li class="pull-right" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
            <li class="pull-right" *ngIf="authService.loggedIn() && !authService.isAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="pull-right" *ngIf="authService.loggedIn() && authService.isAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/result">Users</a></li>
            <li class="pull-right" *ngIf="authService.loggedIn() && authService.isAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/report">Tickets</a></li>
            <li class="pull-right" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/profile">Profile</a></li>

            <li class="pull-right" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/register">Sign Up</a></li>
            <li class="pull-right" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/login">Login</a></li>
            <li class="pull-right" *ngIf="authService.loggedIn()"><a href="#" (click)="onLogoutClick()">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </div>

  <div class="wrapper">

  <div class="home section" id="home">
  <div></div>
  <div class="banner">
      <div class="col-xs-12 col-md-4">
        <h1 style="padding-top:10px;">Issue Analysis Solution</h1>
        We solve all issues related to mobile phones, desktop and laptop computers.<br><br>
        <a class="homebtn" routerLink="/register">Sign Up</a>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-7">
        <img style="padding-top:10px;" class="banner1" src="../../../assets/banner2.png" alt="img1">
        <img style="padding-top:10px;" class="banner2" src="../../../assets/banner1.png" alt="img2">
      </div>
  </div>
  <div class="bannerGreet">
      <div class="greeting row section">
        <div class="greetingHeader">HAVE YOU REACHED US FOR</div>
        <div class="jargon col-md-3 col-xs-12">
          <i class="icons fa fa-apple"></i>
          <i class="icons fa fa-linux"></i>
          <i class="icons fa fa-windows"></i><br>
          OS Installation & Application support
        </div>
        <div class="jargon col-md-3 col-xs-12">
          <i class="icons fa fa-lock"></i><br>
          End point Security
        </div>
        <div class="jargon col-md-3 col-xs-12">
          <i class="icons fa fa-cog"></i>
          <i class="icons fa fa-check"></i><br>
          Recovery & Maintenance
        </div>
        <div class="jargon col-md-3 col-xs-12">
          <i class="icons fa fa-desktop"></i>
          <i class="icons fa fa-mouse"></i>
          <i class="icons fa fa-edit"></i><br>
          Accessories Purchase
        </div>
      </div>

      <div class="greetingMobile row">
          <div class="jargon col-xs-6">
              <a routerLink="/register" style="text-decoration:none"><span class="glyphicon glyphicon-user icons"></span><br>Sign Up</a>
          </div>
          <div class="jargon col-xs-6">
              <a routerLink="/login" style="text-decoration:none"><span class="glyphicon glyphicon-log-in icons"></span><br>Login</a>
          </div>
      </div>

      <div class="appTitle">
          Techfix Solutions
      </div>
    
    
    <!--<img class="cover-image" src="../../../assets/img1_2.jpg" alt="cover image">
  </div>
  
  <section id="home">
    <div id="image" style="padding:0">h
    </div>
  </section>-->
  </div>
  </div>

    
      <!--<section class="section" id="purpose">-->
  <div class="row section" id="showcase1">
      <section class="section">
      </section>
  </div>
<!--  class="animated infinite bounce" >-->
      <div class="row section">
      <section class="section" id="showcase">
        <div class="row try">
          <div class="col-xs-10 col-md-12">
              <img id="" src="../../../assets/offer2.svg" alt="img" style="box-shadow:0 8px 16px 0 rgba(0,0,0,0.2)">
          </div>
        </div>
        <div class="offer1">
          <div class="offer col-xs-10 col-md-4 card container">
            <img src="../../../assets/software.jpg" class="image">
            <h4 class="title">Software Installations & Troubleshooting</h4>
            <div class="middle">
                <div class="text">
                  <h4>Software Installations & Troubleshooting</h4>
                  <h5>Any required softwares can be installed and troubled anytime required.</h5>
                </div>
            </div>
          </div>
      
          <div class="offer col-xs-10 col-md-4 card container">
            <img src="../../../assets/endpoint.jpg" class="image">
            <h4 class="title">Endpoint security</h4>
            <div class="middle">
                <div class="text">
                  <h4>End point security</h4>
                  <h5>Any required softwares can be installed and troubled anytime required.</h5>
                </div>
            </div>
          </div>
      <!--
          <div class="offer col-xs-10 col-md-3 card container">
            <img src="" class="image">
            <h4 class="title image">Desktop & Laptop Sales & Service</h4>
            <div class="middle">
                <div class="text">
                  <h4>Desktop & Laptop Sales & Service</h4>
                  <h5>Any required softwares can be installed and troubled anytime required.</h5>
                </div>
            </div>
          </div>
        -->   
          <div class="offer col-xs-10 col-md-4 card container">
            <img src="../../../assets/network.jpg" class="image">
            <h4 class="title">Network Patching & Cabling</h4>
            <div class="middle">
                <div class="text">
                  <h4>Network Patching & Cabling</h4>
                  <h5>Any required softwares can be installed and troubled anytime required.</h5>
                </div>
            </div>
          </div>
      
          <div class="offer col-xs-10 col-md-4 card container">
            <img src="../../../assets/data.jpg" class="image">
            <h4 class="title">Data Centre Maintenance</h4>
            <div class="middle">
                <div class="text">
                  <h4>Data Centre Maintenance</h4>
                  <h5>Any required softwares can be installed and troubled anytime required.</h5>
                </div>
            </div>
          </div>
      <!--
          <div class="offer col-xs-10 col-md-3 card container">
            <img src="../../../assets/software.jpg" class="image">
            <h4 class="title image">Data recovery & Backup setup</h4>
            <div class="middle">
                <div class="text">
                  <h4>Data recovery & Backup setup</h4>
                  <h5>Any required softwares can be installed and troubled anytime required.</h5>
                </div>
            </div>
          </div>
        -->
          <div class="offer col-xs-10 col-md-4 card container">
            <img src="../../../assets/lap-access.jpg" class="image">
            <h4 class="title">Laptop Accessories Sales</h4>
            <div class="middle">
                <div class="text">
                  <h4>Laptop Accessories Sales</h4>
                  <h5>Any required softwares can be installed and troubled anytime required.</h5>
                </div>
            </div>
          </div>
      
          <div class="offer col-xs-10 col-md-4 card container">
            <img src="../../../assets/desk-access.jpg" class="image">
            <h4 class="title">Desktop Accessories Sales</h4>
            <div class="middle">
                <div class="text">
                  <h4>Desktop Accessories Sales</h4>
                  <h5>Any required softwares can be installed and troubled anytime required.</h5>
                </div>
            </div>
          </div>
      <!--
          <div class="offer col-xs-10 col-md-3 card container">
            <img src="" class="image">
            <h4 class="title image">Network devices Sales & Maintenance</h4>
            <div class="middle">
                <div class="text">
                  <h4>Network devices Sales & Maintenance</h4>
                  <h5>Any required softwares can be installed and troubled anytime required.</h5>
                </div>
            </div>
          </div>-->
        </div>
      </section>
      </div>
    
      <!--<section class="section" id="profile">-->
      <div class="row" id="host1">
      <section>
      </section>
      </div>


      <div class="row section">
      <section class="section" id="host">
          <div class="row">
            <div class="col-xs-10 col-md-12">
              <img style="height:150px;width:150px" id="" src="../../../assets/about1.svg" alt="img">
            </div>
            <div class="hideImg1 col-xs-12 col-md-5">
              <div class="pic">
                <img class="hostImg" src="../../../assets/bharath.jpg" alt="img">
              </div>
            </div>
            <div class="motto col-xs-12 col-md-5">
              <h3>"We are pleased to provide you the best service with quality and care."</h3>
              <h4 style="float:right">
                -- Bharath Kumar,<br>
                  Founder and CEO
              </h4>
            </div>
          </div>
      </section>
      </div>
      <!--
<br>

      <i class="icons fa fa-desktop" style="font-size:80px;position:absolute;top:0;left:0"></i>
      <i class="fa fa-cog fa-spin fa-3x fa-fw" style="color:skyblue;position:absolute;top:-25px;left:-61px;"></i>
      -->

      
      <div id="contact">
          <img id="img2" src="../../../assets/img2.jpg" alt="img">
      </div>

      <div class="row section">
        <section>
        </section>
      </div>

      <div class="row section" id="contact2">
      <section class="section">
        <div class="row row1">
          <div class="cols col-xs-12 col-md-1">
            <h5>Home</h5>
            <h5>Services</h5>
            <h5>About</h5>
            <h5>Contact</h5>
            <h5>Dashboard</h5>
          </div>

          <div class="cols col-xs-12 col-md-2">
              <h5>Software Installations & Troubleshooting</h5>
              <h5>End point security</h5>
              <h5>Desktop & Laptop Sales & Service</h5>
              <h5>Network Patching & Cabling</h5>
              <h5>Data Centre Maintenance</h5>
          </div>

          <div class="cols col-xs-12 col-md-2">
              <h5>Data recovery & Backup setup</h5>
              <h5>Laptop Accessories Sales</h5>
              <h5>Desktop Accessories Sales</h5>
              <h5>Network devices Sales & Maintenance</h5>
          </div>

          <div class="cols2 col-xs-12 col-md-6">
            <h3 class="row">Reach us</h3>
            <h2 class="row">98775 87743</h2>
          </div>
        </div>

        <div class="row row2">
          <h4>
            Are you in need of cool websites, visit VDesign.com .
          </h4>
        </div>

        <div class="row row2">
          <h4>
            Copyight &copy; Techfix Solutions 2018 .
          </h4>
        </div>
      </section>
    </div>
  </div>


<!--
<div class="spinner">
    <div class="spinner_1"></div>
    <div class="spinner_2"></div>
    <div class="spinner_3"></div>
    <div class="spinner_4"></div>
</div>-->

<!--
<canvas #myCanvas style="left:0;top:0;z-index:-1;position:absolute;">
</canvas>
-->

