.navbar-toggle {
  border:none;
}
    .navbar {
        background:rgba(242, 44, 44, 0.51);
        border: none;/*
        width: 100%;
        color:black;
        position:fixed;
        top:0;
        left:0;
        z-index:1;*/
      }
      /*
      .navbar-header > a {
        font-size: 25px;
        width:100%;
        color:black;
      }
      
      
      .navbar-header > a {
        float: none;
        display: inline-block;
      }
      
      .navbar-nav {  
        width: 100%;
      }
      
      .navbar-nav > li > a {
        font-size: 19px;  
        text-align: center;
        color:black;
        display: inline-block;
      }
      
      .navbar-nav > li :hover {
        color:blue;
      }
    
      .navbar-nav {  
        width: 100%;
      }
      
      .navbar-nav > li {  
        float: none;
        display: inline-block;
      }
    
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color:blue;
        background:none;
        border-bottom: 1.5px solid blue;
        display: inline-block;
    }

    .active { 
      color:blue;
      background:none;
    }
    */